<html>
<head>
  <title>login</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div style="margin:100px;"
   class="navbar navbar-inverse navbar-static-top">
  <div class="container">

    <div class="jumbotron"  style="padding:40px;">
      <h1>Access required</h1>
      <p>This app has extra functionality like , 
        sending email notifications 
          on your behalf whaenever an action occurs , click the button below to be redirected to 
          the google page to take full advantage of the features, 
         </p>
         <h5 style="color:yellow">contact the app's developer if in doubt</h5>
         <p><a class="btn btn-primary btn-lg" href="<%= url %>" role="button">Authorize app</a></p>
    </div>
  </div>
</body>
</html>
