<html>
<head>
  <title>home</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://cdn.tailwindcss.com"></script>
  <script>
    tailwind.config = {
      theme: {
        extend: {
          colors: {
            clifford: '#da373d',
          }
        }
      }
    }
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div  class="bg-slate-500 h-full flex justify-center items-center rounded">
  <div class="w-[70%] ">

    <div class="bg-slate-800 text-white text-2xl flex flex-col justify-center p-[10%] " >
      <h1 class="text-7xl font-extrabold">Thank You</h1>
      <p class="text-4xl font-bold"> welcome to the goals app</p>
    <p class="flex justify-center items-center w-full ">
        <a class="bg-slate-300 text-slate-900 w-fit p-5" 
      href="http://localhost:4000" role="button">Back to app</a></p>
    </div>
  </div>
</body>
</html>
